<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Just a moment...</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="robots" content="noindex,nofollow">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="/cdn-cgi/styles/challenges.css" rel="stylesheet">
    

</head>
<body class="no-js">
    <div class="main-wrapper" role="main">
    <div class="main-content">
        <noscript>
            <div id="challenge-error-title">
                <div class="h2">
                    <span class="icon-wrapper">
                        <div class="heading-icon warning-icon"></div>
                    </span>
                    <span id="challenge-error-text">
                        Enable JavaScript and cookies to continue
                    </span>
                </div>
            </div>
        </noscript>
        <div id="trk_jschal_js" style="display:none;background-image:url('/cdn-cgi/images/trace/managed/nojs/transparent.gif?ray=7ac3aed33ad202eb')"></div>
        <form id="challenge-form" action="/css/bitstream-vera-serif?__cf_chl_f_tk=zZKSRAiXDb.i8A16BO7CWolZO2yebjKybuokh8mmE2c-1679543140-0-gaNycGzNCSU" method="POST" enctype="application/x-www-form-urlencoded">
            <input type="hidden" name="md" value="hkYfsHArSQ5JFGvK2s4NXBlUrb5bb4EHBcD5QoBvcNg-1679543140-0-AcXqU1JKvNH5RfGTOjgXP7N4AyUH9H8qJVlDojB843Rme7dtStNZBp18I1GOXMJFpUM-y_nXlMGNjRJX4_kUad6C4h2tt0c41HZ5hYm5zlKVNAjtYT5ndMeClS6QD8xk1lsqo68gGmaB8SBMrEKkjjjsrFafhcO4vOsNuoj1sFNAHbjWMrV_JLZpdN93eym9yfHuO3Tbu4_UCqwySQXjBVPrA4BIb8sKMbD4k4ILMSLhgneDwc0HZMZ-7fyYaB0tSqU6-FF-Fk2UkOAHumNYjIFCaC-GThcerbNbGKbQOCMeUsnfTu_BJYJiHcdTfoJtO-QLkmO6KcMQY8zcwzisdFVjKddLEBBmZxKWHAJqbRITSzjHfIt7EQOBxtNiD4XsfDiwQrMJH3QM8gU_qeJ8e59bgrCdVMJf_HVrsWq_WOziKxSlt3LhZLwahCNVQVuPm_WJ36gcYCQgqwAEfHhrV3oDL_dOE-eOyag5ZOmaNllvH7wPnNiWEYC6o52FF8RNC51Ws3TlV4QR15ExkowPl0QKpwQ8dJFv-3I-8pzpvhnPqT7Yzp8kb8YnI84e4fRlxYulKUd6wHjbDpfJ5ZyE-DnzmYalj8R_oq0kSWIaKm1VVtFauUjA7BfsKM49SeQVbwltyWCQt0z3sDnIyDjLDJxiRceMdQzrZYxNzumqIJYG4QV07cmIM_CVyoeDtly8VaA3l74UqI7ZPxr1gHoXjDUtsZxwwmWSniCOvh06TxbpD982h13zC-E6ObekCptU28NmaJHEB6_6fe0VtcupCIAfA9zNZVhChh9bvgmEyK228_2iyP0GQHTGajoA_jXeuoWY5l_0qfmpSZYQgApW0C1oNvmxmSTtu8_ZmJyyRmxBSlyXSvdIlfdntu0ZgDK36We3QCEVIQ1bJy8g-_D6GwI5J4OJhZE-SIyB3oRrp3cAZy4VgdnbZI8zmv3k3_DorcGzaplnd1cfSBktHwHzvJ4zRT7UZ_sMann4BjoZeVkzB8XitCBe2ajyBv_RBRKqVEsxT6Hrag0z00k0PFuqfsCzcnStVRpkKkVR2yQci3hvcOs4AZNbD12ujxUKQ6Gp_JrRACcLqV_gwWgHQE4-DlhysaxFq8VgV9H79cv4l1T27ZpQ7nsNmYBXsKi-0LU0SsjBqE-48G63P3fYblPklxc3vTSUn9fhKthHvf2auplqbc5jwWbHAZGtWPDr0-wWnNZNBvWbI9PrKWnxFRevblD-XnNqLxs0b52JOJKle27Li3JgTWmNVB_ketwa5saY8oEP1rhHZOtiWS8Yat7i51PLxWYtjiKf07NLbqoyu5h-lJE2m4OLwA4iMt8t1BGz6_YoUwsLDDp7eQ9VCIeoMxti6N_SSmsKCNI-6swgjpg7MCIOWuEt6H1oIdIvrLeaI9GbhuIp5flPjace8NHeEujYRNvJJfM_6xGZPNy5lWOUHmpn5O5lUDFRq3-zYwApxFeSkrvrua_yOTk8j8409ns2GSGdHth24tzFAEqOno9jtuYzRI-ABb3iGZemndBMFEFpPHoSSmMDPvbsFr5s8C3kTImLgW6AppdS1mSe8wNEyVySTvnwUr0NY6Q93rsHYjxPk_hItVjJx_4n8ggcbzoEGdOPPIovzml21cYFyeM2LrJddUAzCn-VT1ImEMh6NLyJD-XfXkYh968RwlmWgvwE4_hqAPbzxo6i44YzQH0hHqH-2N5UZFM2OxHz5BoGtWUjSyw7X1b6MALspuyLbneaF72tqFcAAfElxYFG6KpA5M0N1DYj8I6_jKrrViUTj7jmtsr8Acgv2IpKyozy0kTyCqNuJw3SJDi7JkVcjqIFxNHGofFKxcTIUBd82imMl0JzeFtOJVnN9qSnCfj3619ueB3PzQ1ThzoKeD38cK5KF4zqEMPaV_UvJacdWH1995Ya4O39-O9SlBlNwhMlI35sD-u92d44ME6O_beZF88FNQdQ8CUBsgmkU0bBxdx9_tXHo2ZD6Rau71_jYa0dLzlcjKfh-m_lyKRTvHMEeI7Q8FctpSR028XXU9O3vyPGqLOOIVeUnzIjFgxsOjQ0H5RV15gyzMFfgX8WddVxXq2tkxd_myVGZ4BUvJYr1i4rNz252Tjm5YNUo22THAo7hyUhmKcGnkSJjpyufkQSW9TyXQRL1XdvgIV8b6OXWyMChrdOvqPKChryWbh0g81Bbej1mn6oJ16zG-wU5H6aJGEuY7X40xT0XQdpA64a6a6vIVeQHKLBVvMnDK69PpmpPgpmSwbzBasyRcon8ZkxVAH_">
        </form>
    </div>
</div>
<script>
    (function(){
        window._cf_chl_opt={
            cvId: '2',
            cZone: 'fonts.cdnfonts.com',
            cType: 'managed',
            cNounce: '62248',
            cRay: '7ac3aed33ad202eb',
            cHash: 'a6427eac1ebf8f7',
            cUPMDTk: "\/css\/bitstream-vera-serif?__cf_chl_tk=zZKSRAiXDb.i8A16BO7CWolZO2yebjKybuokh8mmE2c-1679543140-0-gaNycGzNCSU",
            cFPWv: 'g',
            cTTimeMs: '1000',
            cMTimeMs: '0',
            cTplV: 5,
            cTplB: 'cf',
            cK: "",
            cRq: {
                ru: 'aHR0cHM6Ly9mb250cy5jZG5mb250cy5jb20vY3NzL2JpdHN0cmVhbS12ZXJhLXNlcmlm',
                ra: 'Y3VybC83LjY4LjA=',
                rm: 'R0VU',
                d: 'FTIwueqDPF436VU0SImQNN9LX7nshbF4/p7tes6sZaqhXUA0mPWRVxGj7rRO/ofAaLyiS/0N4R3uvyhbEu+A2WcyXDCYYGKT4+2VoXNswVZ6KuZb187MvEZIdqAzWyG3Jr5Eio/O1amZfttA3kKCw74TncD0GZ7x/2Wm1/aMi2vUI5xuLNIbJoH9QVcxrKe+SP4rcCG/T0Cnv60ipHpAl51PMOg8+b4YCJR5uWHmjFUrZWycFvJ2mnui1Yx9as7w6hJ1Ltl91yq4+U5WnIKxzPJUfZ42fH3Bsj4dnGGCkvsg5YPsdnWVh/yZgZD0UBod+XHH5eY+4OCqxvhMIYndU12CQ6e/Sprm3yyhCHdUx7djIGo4omhLKkBj6CyGgVTxrZWBCHTPWC6eq/Vn9Fi1hXn3P2nTzjwIarP7tyHEuHja8VxIn/w1S14s6i01cnVImtou7XUAvBharvglbE2zoXUR++4c1wJ+W21gMvT0f2Cpz8c5+cxdIC8urCd8hmHPQpLGSIRElCC2xaqMIEzIBf1U+J82yrOVhkjRHPNVnR8sda5p+TqD6I35oFDVKmpBPib7uODb7DiK82/xBeWTvydGRqbWpITtOaGGhwHYN0jYLxt05ZmMu+kKsS/RQYsy',
                t: 'MTY3OTU0MzE0MC4zNTYwMDA=',
                m: 'XGSkbaufbd1qFcgLhNwnnwO4RucnY0ZYU48gtNUUz/A=',
                i1: 'UoAf0cRBgvGN5/utXQfyNA==',
                i2: 'IgqZotjKrBmHLxbbYQEBtA==',
                zh: 'e1IuUnrY4uJ1zRR5bUsh/qvEUSpaoxIpIrF8njqWDuw=',
                uh: 'LgBfwTjckPmPFLl2OGGaoWOKkjIgTojK2wwoWSzqSQw=',
                hh: 'zD+MwxHG1nm3C8MNUXi+JbPSLYG9w/2bEylcUxGXoG0=',
            }
        };
        var trkjs = document.createElement('img');
        trkjs.setAttribute('src', '/cdn-cgi/images/trace/managed/js/transparent.gif?ray=7ac3aed33ad202eb');
        trkjs.setAttribute('alt', '');
        trkjs.setAttribute('style', 'display: none');
        document.body.appendChild(trkjs);
        var cpo = document.createElement('script');
        cpo.src = '/cdn-cgi/challenge-platform/h/g/orchestrate/managed/v1?ray=7ac3aed33ad202eb';
        window._cf_chl_opt.cOgUHash = location.hash === '' && location.href.indexOf('#') !== -1 ? '#' : location.hash;
        window._cf_chl_opt.cOgUQuery = location.search === '' && location.href.slice(0, location.href.length - window._cf_chl_opt.cOgUHash.length).indexOf('?') !== -1 ? '?' : location.search;
        if (window.history && window.history.replaceState) {
            var ogU = location.pathname + window._cf_chl_opt.cOgUQuery + window._cf_chl_opt.cOgUHash;
            history.replaceState(null, null, "\/css\/bitstream-vera-serif?__cf_chl_rt_tk=zZKSRAiXDb.i8A16BO7CWolZO2yebjKybuokh8mmE2c-1679543140-0-gaNycGzNCSU" + window._cf_chl_opt.cOgUHash);
            cpo.onload = function() {
                history.replaceState(null, null, ogU);
            };
        }
        document.getElementsByTagName('head')[0].appendChild(cpo);
    }());
</script>


</body>
</html>
